@model IEnumerable<ECommMVC.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

@Html.AntiForgeryToken()

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive-xl">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Image)</th>
                <th class="tableActionButtons-L"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @if(item.Image != null)
                        {
                            <img src="/images/category/@item.Image" width="50" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <button class="btn btn-danger btn-sm" onclick="deleteEntity(@item.ID, 'Category')">Delete</button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
